@import 'tailwindcss';
/* @import "tw-animate-css"; */

:root {
  /* Spacing */
  --header-height: 60px;
  --content-width: 1100px;
  --viewport-padding: 32px;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-page-background);
  color: var(--color-text);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

::selection {
  background: var(--color-selection-background);
  color: var(--color-selection-text);
}

code {
  background: var(--color-inline-code-bg);
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: var(--font-mono), monospace;
}

.prose pre {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
}

.prose pre code {
  background-color: transparent !important;
  color: #f8f8f2 !important;
}

.prose code {
  color: inherit;
}
